# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode build artifacts
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Per-user Xcode files
xcuserdata/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Package.resolved
Packages/

# CocoaPods (not used)
Pods/

# Carthage (not used)
Carthage/Build/

# fastlane (not used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
